@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Staatliches&display=swap');

*{
    margin:0;
    padding:0;
  }
  nav{
    background: #184e68;
    height: 70px;
    color: cornsilk;
    font-family: 'Noto Sans JP', sans-serif;
    
  }
  #nav{
    float:right;
    display: flex;
    margin-right: 40px;
padding-top: 2%;  }
  body::before{
    content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
    z-index: -1;
    opacity: 15%;
    background-image:
   
    url("https://miro.medium.com/max/1401/1*KID6ZNpfCBWHCutZzn2TbQ.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.static-txt{
font-size: 60px;
font-family: 'Noto Sans JP', sans-serif;
text-align: center;
padding-top: 200px;
color: #cf6766;
}

.text {
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  text-align: center;

}

.text::before {
  content: " I  am  a";
  width: 0%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  animation: typewriter 6s  infinite;
  font-family: 'Staatliches', cursive;

}


@keyframes typewriter {

  33% {
    content: "Student";
    width: 100%;
    font-family: 'Staatliches', cursive;
  }

  
  

  
  66% {
    content: "Data Analyst";
    width: 100%;
    font-family: 'Staatliches', cursive;
  }

  
 

  


  90% {
    content:"Novince Web Developer";
    width: 100%;
    font-family: 'Staatliches', cursive;
  }

  100% {
    width: 0%;
  }
}
#skills{
  padding-top: 500px;
  text-align: center;
}
#sql{
  font-size:60px;
  color: rgb(105, 233, 105);


}
#java{
  font-size:75px;
  color:#e69280;

}
#css{

  font-size: 50px;
  color:rgb(42, 74, 255);

}
#html{
  font-size: 68px;
  white-space: pre-line;
  color:teal;

}
#tableau{
  font-size: 58px;
  color: cornflowerblue;

}
#csharp{
  font-size: 48px;
  color:red;

}
#cpp{
  font-size:64px;
  color: plum;

}
#oracle{
  font-size: 48px;
  color:#e69280;

}
#python{
  font-size: 73px;
  color:#000184;

}
#jquery{
  font-size: 60px;
color: violet;
}
#ml{
  font-size:65px;
  color:rgb(80, 9, 80);

}
#writing{
  font-size:59px;
  color:#f4cede;

}
#aws{
  font-size:50px;
color:#4fcede;
}
#wordcloud {
  display: inline;
  list-style-type: none;
padding-bottom: 300px;  

}
#wordcloud li {
  list-style: none;
  display: inline;

}
#wordcloud ul{
  padding-bottom: 300px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}